.container{
    background-color: #d0effa;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
    min-width: 250px;
    margin: 15px;
    padding:10px;
   min-height: 300px;
    display:grid;
}
.input_number{
    max-width: 20%;
}
.input_text{
    max-width: 30%;
    
    
    box-sizing: border-box;
}
.input_text:focus {
    border: 2px solid #555;
  }
  .input_number:focus {
    border: 2px solid #555;
  }
select {
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    background-color: #f1f1f1;
  }